In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dishe\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dishe\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dishe\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dishe\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dishe\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dishe\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# EMPLOYEES table
employees = pd.DataFrame({
    'EMP_ID': ['E1001', 'E1002', 'E1003'],
    'F_NAME': ['John', 'Alice', 'Steve'],
    'L_NAME': ['Thomas', 'James', 'Wells'],
    'JOB_ID': [100, 200, 300],
    'SALARY': [100000, 80000, 50000],
    'MANAGER_ID': [30001, 30002, 30002],
    'DEP_ID': [2, 5, 5]
})

# JOBS table
jobs = pd.DataFrame({
    'JOB_IDENT': [100, 200, 300],
    'JOB_TITLE': ['Sr. Architect', 'Sr.SoftwareDeveloper', 'Jr.SoftwareDeveloper'],
    'MIN_SALARY': [60000, 60000, 40000],
    'MAX_SALARY': [100000, 80000, 60000]
})

# JOB_HISTORY table
job_history = pd.DataFrame({
    'EMPL_ID': ['E1001', 'E1002', 'E1003'],
    'START_DATE': ['2000-01-30', '2010-08-16', '2016-08-10'],
    'JOBS_ID': [100, 200, 300],
    'DEPT_ID': [2, 5, 5]
})

# DEPARTMENTS table
departments = pd.DataFrame({
    'DEPT_ID_DEP': [2, 5, 7],
    'DEP_NAME': ['Architect Group', 'Software Development', 'Design Team'],
    'MANAGER_ID': [30001, 30002, 30003],
    'LOC_ID': ['L0001', 'L0002', 'L0003']
})

# LOCATIONS table
locations = pd.DataFrame({
    'LOCT_ID': ['L0001', 'L0002', 'L0003'],
    'DEP_ID_LOC': [2, 5, 7]
})

# 1. INNER JOIN (employees and jobs)
emp_jobs = pd.merge(employees, jobs, how='inner', left_on='JOB_ID', right_on='JOB_IDENT')
print("INNER JOIN - Employee and Jobs:")
print(emp_jobs[['F_NAME', 'L_NAME', 'JOB_TITLE']])

# 2. LEFT JOIN (employees and job_history)
emp_history = pd.merge(employees, job_history, how='left', left_on='EMP_ID', right_on='EMPL_ID')
print("\nLEFT JOIN - Employees and Job History:")
print(emp_history[['F_NAME', 'L_NAME', 'START_DATE', 'JOBS_ID']])

# 3. RIGHT JOIN (job_history and employees)
history_emp = pd.merge(job_history, employees, how='right', left_on='EMPL_ID', right_on='EMP_ID')
print("\nRIGHT JOIN - Job History and Employees:")
print(history_emp[['EMP_ID', 'F_NAME', 'L_NAME', 'START_DATE']])

# 4. FULL OUTER JOIN (departments and locations)
dept_location = pd.merge(departments, locations, how='outer', left_on='DEPT_ID_DEP', right_on='DEP_ID_LOC')
print("\nFULL OUTER JOIN - Departments and Locations:")
print(dept_location[['DEP_NAME', 'LOCT_ID']])

INNER JOIN - Employee and Jobs:
  F_NAME  L_NAME             JOB_TITLE
0   John  Thomas         Sr. Architect
1  Alice   James  Sr.SoftwareDeveloper
2  Steve   Wells  Jr.SoftwareDeveloper

LEFT JOIN - Employees and Job History:
  F_NAME  L_NAME  START_DATE  JOBS_ID
0   John  Thomas  2000-01-30      100
1  Alice   James  2010-08-16      200
2  Steve   Wells  2016-08-10      300

RIGHT JOIN - Job History and Employees:
  EMP_ID F_NAME  L_NAME  START_DATE
0  E1001   John  Thomas  2000-01-30
1  E1002  Alice   James  2010-08-16
2  E1003  Steve   Wells  2016-08-10

FULL OUTER JOIN - Departments and Locations:
               DEP_NAME LOCT_ID
0       Architect Group   L0001
1  Software Development   L0002
2           Design Team   L0003

In [3]:
emp_jobs = pd.merge(employees, jobs, how='inner', left_on='JOB_ID', right_on='JOB_IDENT')
print(emp_jobs[['F_NAME', 'L_NAME', 'JOB_TITLE']])

  F_NAME  L_NAME             JOB_TITLE
0   John  Thomas         Sr. Architect
1  Alice   James  Sr.SoftwareDeveloper
2  Steve   Wells  Jr.SoftwareDeveloper

In [4]:
emp_history = pd.merge(employees, job_history, how='left', left_on='EMP_ID', right_on='EMPL_ID')
print(emp_history[['F_NAME', 'L_NAME', 'START_DATE', 'JOBS_ID']])

  F_NAME  L_NAME  START_DATE  JOBS_ID
0   John  Thomas  2000-01-30      100
1  Alice   James  2010-08-16      200
2  Steve   Wells  2016-08-10      300

In [5]:
history_emp = pd.merge(job_history, employees, how='right', left_on='EMPL_ID', right_on='EMP_ID')
print(history_emp[['EMP_ID', 'F_NAME', 'L_NAME', 'START_DATE']])

  EMP_ID F_NAME  L_NAME  START_DATE
0  E1001   John  Thomas  2000-01-30
1  E1002  Alice   James  2010-08-16
2  E1003  Steve   Wells  2016-08-10

In [6]:
dept_location = pd.merge(departments, locations, how='outer', left_on='DEPT_ID_DEP', right_on='DEP_ID_LOC')
print(dept_location[['DEP_NAME', 'LOCT_ID']])

               DEP_NAME LOCT_ID
0       Architect Group   L0001
1  Software Development   L0002
2           Design Team   L0003